
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">LH Vagas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/mural-vagas">Mural Vagas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/painel">Cadastro de Vagas</a>
            </li>
        </ul>
    </div>
  </nav>